.button {
  @apply inline-flex justify-center items-center px-6 h-12 border-2 rounded font-semibold text-gray-500 transition ease-in-out duration-300;

  &:hover {
    @apply text-gray-600;
  }

  &--primary {
    @apply bg-gray-800 border-gray-800 text-white;
    &:hover {
      @apply bg-gray-900 border-gray-900 text-white;
    }
  }

  &--primary-outline {
    @apply bg-transparent text-gray-600;
    &:hover {
      @apply bg-gray-800 border-gray-800 text-white;
    }
  }

  &--danger {
    @apply bg-red-600 border-red-600 text-white;
    &:hover {
      @apply bg-red-700 border-red-700 text-white;
    }
  }

  &--sm {
    @apply px-4 h-10 text-sm;
  }
}
