@import "~vue-select/src/scss/vue-select.scss";

$vs-colors: (
  lightest: theme('colors.gray.300'),
  light: theme('colors.gray.400'),
  dark: theme('colors.gray.700'),
  darkest: theme('colors.gray.800'),
);

$vs-border-width: 2px;
$vs-selected-bg: theme('colors.gray.100');

.form-group {
  @apply relative mb-4;
}

.form-label {
  @apply text-sm font-semibold mx-2 text-gray-500 block relative z-10;
  margin-bottom: -0.625rem;

  & > span {
    @apply bg-white px-2;
  }
}

.form-control {
  @apply px-4 h-12 border-2 w-full bg-transparent rounded transition ease-in-out duration-300;

  &.has-errors {
    @apply border-red-600;
  }

  &--editor {
    @apply h-auto py-3;
    min-height: 200px;
  }

  @at-root {
    textarea#{&} {
      @apply resize-none h-auto pt-2;
    }

    select#{&} {
      appearance: none;
      padding-right: 1.25rem;

      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23718096' viewBox='0 0 100 100'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M49.96,88.38C49.96,88.38,49.96,88.38,49.96,88.38c-1.11,0-2-0.9-2-2l0.03-30.12c0-1.1,0.9-2,2-2c0,0,0,0,0,0 c1.1,0,2,0.9,2,2l-0.03,30.12C51.96,87.48,51.07,88.38,49.96,88.38z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M49.97,89.03c-1.12,0-2.23-0.42-3.08-1.27L32.95,73.81c-0.78-0.78-0.78-2.05,0-2.83c0.78-0.78,2.05-0.78,2.83,0 l13.94,13.95c0.14,0.14,0.36,0.14,0.5,0l13.96-13.92c0.78-0.78,2.05-0.78,2.83,0c0.78,0.78,0.78,2.05,0,2.83L53.04,87.77 C52.19,88.61,51.08,89.03,49.97,89.03z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M50.01,45.74C50,45.74,50,45.74,50.01,45.74c-1.11,0-2-0.9-2-2l0.03-30.12c0-1.1,0.9-2,2-2c0,0,0,0,0,0c1.1,0,2,0.9,2,2 l-0.03,30.12C52,44.85,51.11,45.74,50.01,45.74z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M65.63,29.6c-0.51,0-1.02-0.2-1.42-0.59L50.28,15.07c-0.14-0.14-0.36-0.14-0.5,0L35.82,28.99 c-0.78,0.78-2.05,0.78-2.83,0c-0.78-0.78-0.78-2.05,0-2.83l13.96-13.92c1.7-1.69,4.46-1.69,6.15,0.01l13.94,13.95 c0.78,0.78,0.78,2.05,0,2.83C66.66,29.41,66.14,29.6,65.63,29.6z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 100% 50% / 20px auto no-repeat;
    }
  }

  &:hover {
    @apply border-gray-400;
  }

  &:focus {
    @apply border-gray-500;
  }

  &.has-errors {
    @apply border-red-600;

    &:hover, &:focus {
      @apply border-red-700;
    }
  }

  &[disabled], &[readonly] {
    @apply text-gray-500 border-gray-100;
  }
}

.form-checkbox {
  @apply mb-4;

  [type="checkbox"], [type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &:checked + label::before {
      @apply border-gray-700;
    }

    &:checked + label::after {
      @apply bg-gray-700;
      margin-left: 1.25rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  label {
    @apply inline-flex relative;
    padding-left: 3.5rem;

    &::before, &::after {
      @apply absolute left-0 top-0;
    }

    &::before {
      margin-top: -4px;
      @apply border-2 w-12 h-8 rounded transition duration-300;
      content: '';
    }

    &::after {
      @apply w-6 h-6 bg-gray-400 rounded-sm transition duration-300;
      content: '';
      margin: 0 4px 4px;
    }

    &:hover::before {
      @apply border-gray-400;
    }
  }

  &--sm {
    label {
      padding-left: 2.25rem;

      &::before {
        width: 1.75rem;
        margin-top: 0.125rem;
        @apply h-5;
      }

      &::after {
        margin-top: 6 / 16 * 1rem;
        @apply w-3 h-3;
      }
    }

    [type="checkbox"], [type="radio"] {
      &:checked + label::after {
        @apply bg-gray-700;
        margin-left: 0.75rem;
        background-image: none;
      }
    }
  }
}

.vs__dropdown-toggle{
  @extend .form-control;
  @apply py-0 border-gray-300;
}

.vs__selected-options, .vs__selected {
  @apply p-0 m-0;
}

.vs__actions {
  display: none;
}

.vs__dropdown-menu {
  @apply border-2 border-gray-300 shadow-none;
}

.vs__dropdown-option {
  @apply leading-relaxed py-1;
}

.vs__dropdown-option--highlight {
  @apply bg-gray-800;
}
