.button {
  @apply border-2 inline-flex justify-center items-center px-6 h-12 rounded font-semibold text-gray-500 transition ease-in-out duration-300;

  &:hover {
    @apply text-gray-600 border-gray-400;
  }

  &--primary {
    @apply bg-gray-800 border-gray-800 text-white;

    &:hover {
      @apply bg-gray-900 border-gray-900 text-white;
    }

    &[disabled] {
      @apply bg-gray-600 border-gray-600;
    }
  }

  &--primary-outline {
    @apply bg-transparent text-gray-600;
    &:hover {
      @apply bg-gray-800 border-gray-800 text-white;
    }
  }

  &--gray {
    @apply bg-gray-300 border-gray-300 text-gray-800;

    &-outline {
      @apply border-gray-300 text-gray-800;

      &:hover {
        @apply bg-gray-600 border-gray-600 text-white;
      }
    }

    &:hover {
      @apply bg-gray-600 border-gray-600 text-white;
    }
  }
}
