.content {
  p, ul, ol, h2, h3, h4, h5, h6 {
    @apply mb-4;

    &:last-child {
      @apply mb-0;
    }
  }

  h2, h3, h4, h5, h6 {
    @apply font-slab font-bold;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  hr {
    @apply my-6;
  }
}
